@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

/* ///////////////////
///// CONSTANTS /////////
//////////////////////// */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #C5E4E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

body,
input,
button {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: 700;
}

button,
input {
    cursor: pointer;
}

input:focus {
    outline: none;
    border-color: #26C2AE;
    caret-color: #26C2AE;
}

input,
button {
    font-size: 24px;
    line-height: 36px;
    border-radius: 5px;
}

input {
    background-color: #F3F9FA;
    border: 2px solid #F3F9FA;
    color: #00474B;
    text-align: right;
}

.text_input::placeholder {
    opacity: 0.35;
}

.bill {
    background-image: url(./assets/icon-dollar.svg);
    background-repeat: no-repeat;
    background-size: 10px 16px;
    background-position: 19px;
}

.people {
    background-image: url(./assets/icon-person.svg);
    background-repeat: no-repeat;
    background-size: 13px 16px;
    background-position: 17px;
}

.input_p {
    font-size: 16px;
    line-height: 24px;
    color: #5E7A7D;
    margin-bottom: 6px;
}

.percent_button {
    background-color: #00474B;
    color: #fff;
    border: none;
}


/* -------- OUTPUT ----------*/
h5 {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.outputs p {
    font-size: 13px;
    line-height: 19px;
    color: #7F9D9F;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outputs button {
    border: none;
    padding: 9px 0;
    font-size: 20px;
    line-height: 30px;
    background-color: #0D686D;
    color: #00474B;
}

.outputs button::placeholder {
    opacity: 0.35;
}

/* ////////////////////////////////
---------------------------------
----------------------------------
///////// CHANGEBLE STYLES ///
-----------------------------------
-----------------------------------
////////////////////////// */


img[alt=logo] {
    margin: 50px 0 40px 0;
}

form {
    background-color: #fff;
    border-radius: 25px 25px 0 0;
    padding: 32px 24px;
}

/* ////////////////////////
///// INPUT ///////////////
/////////////////////////// */

.inputs {
    padding: 0 8px;
}

.text_input {
    width: 311px;
    height: 48px;
    padding-right: 17px;
}

/* //// tip buttons ///// */

.tip_input {
    margin: 32px 0;
}

.percent_button {
    width: 147px;
    height: 50px;
}

.tip_percent {
    width: 311px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 18px 16.56px;
}

.custom_tip::placeholder {
    color: #547878;
}

.custom_tip {
    width: 147.81px;
    height: 50px;
    padding-right: 17px;
}


/* ////////////////////////
///// OUTPUT ///////////////
/////////////////////////// */

.outputs {
    background: #00474B;
    border-radius: 15px;
    padding: 37px 22px 24px 24px;
    margin-top: 32px;
}

h2 {
    font-size: 32px;
    line-height: 47px;
    text-align: right;
    letter-spacing: -0.666667px;
    color: #26C2AE;
}

.total:last-of-type {
    margin-top: 20px;
}

.outputs button {
    width: 281px;
    margin-top: 32px;
}


@media (min-width: 1440px) {
    form {
        display: flex;
    }

    img[alt=logo] {
        margin: 163px 0 87px 0;
    }

    form {
        border-radius: 25px;
        padding: 32px;
    }

    /* //////// INPUT ///////////////*/

    .inputs {
        padding: 13px 0 16px 16px;
    }

    .text_input {
        width: 379px;
    }

    /* //// tip buttons ///// */

    .tip_input {
        margin: 40px 0;
    }

    .percent_button {
        width: 117px;
    }

    .tip_percent {
        width: 379px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 16px 14px;
    }

    .custom_tip {
        width: 118px;
        height: 50px;
        padding-right: 15px;
    }

    /* --- OUTPUTS --- */
    .outputs {
        padding: 40px;
        margin: 0 0 0 48px;
    }

    h2 {
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -1px;
    }

    .total:last-of-type {
        margin-top: 25px;
    }

    .outputs button {
        width: 333px;
        margin-top: 122px;
    }


}



/*  --------------------------------
--------- HOVERS ------------------
------------------------------------- */

.percent_button:hover {
    background-color: #9FE8DF;
    color: #00474B;
}

.outputs button:hover {
    background-color: #9FE8DF;
}